---
{{- if .Doc.Description}}
description: {{.Doc.Description}}
{{- end}}
{{- if .Doc.Behavior.Mode}}
mode: {{.Doc.Behavior.Mode}}
{{- end}}
{{- if .Doc.Model}}
model: {{.Doc.Model}}
{{- end}}
{{- if or .Doc.Tools .Doc.DisallowedTools}}
tools:
{{- range .Doc.Tools}}
  {{convertToolNameCase . "opencode"}}: true
{{- end}}
{{- range .Doc.DisallowedTools}}
  {{convertToolNameCase . "opencode"}}: false
{{- end}}
{{- end}}
{{- if .Doc.PermissionPolicy}}
permission:
{{.Doc.PermissionPolicy | permissionPolicyToOpenCode}}
{{- end}}
{{- if .Doc.Behavior.Temperature}}
temperature: {{.Doc.Behavior.Temperature}}
{{- end}}
{{- if gt .Doc.Behavior.Steps 0}}
maxSteps: {{.Doc.Behavior.Steps}}
{{- end}}
{{- if .Doc.Behavior.Hidden}}
hidden: true
{{- end}}
{{- if .Doc.Behavior.Prompt}}
prompt: {{.Doc.Behavior.Prompt}}
{{- end}}
{{- if .Doc.Behavior.Disabled}}
disable: true
{{- end}}
---
{{.Doc.Content}}
