---
description: {{.Description}}
{{- if .Mode}}
mode: {{.Mode}}
{{- end}}
{{- if .Model}}
model: {{.Model}}
{{- end}}
{{- if .Tools}}
tools:
{{- range .Tools}}
  {{. | lower}}: true
{{- end}}
{{- end}}
{{- if .DisallowedTools}}
{{- range .DisallowedTools}}
  {{. | lower}}: false
{{- end}}
{{- end}}
{{- if .PermissionMode}}
permission:
{{transformPermissionMode .PermissionMode}}
{{- end}}
{{- if .Temperature}}
temperature: {{.Temperature}}
{{- end}}
{{- if gt .MaxSteps 0}}
maxSteps: {{.MaxSteps}}
{{- end}}
{{- if .Hidden}}
hidden: true
{{- end}}
{{- if ne .Prompt ""}}
prompt: {{.Prompt}}
{{- end}}
{{- if .Disable}}
disable: true
{{- end}}
---
{{.Content}}
