---
{{- if .Doc.Description}}
description: {{.Doc.Description}}
{{- end}}
{{- if .Doc.Execution.Agent}}
agent: {{.Doc.Execution.Agent}}
{{- end}}
{{- if .Doc.Execution.Subtask}}
subtask: {{.Doc.Execution.Subtask}}
{{- end}}
{{- if .Doc.Execution.Context}}
context: {{.Doc.Execution.Context}}
{{- end}}
{{- if .Doc.Model}}
model: {{.Doc.Model}}
{{- end}}
---
{{.Doc.Content}}
