---
{{- if ne .Description ""}}
description: {{.Description}}
{{- end}}
{{- if .AllowedTools}}
tools:
{{- range .AllowedTools}}
  {{. | lower}}: true
{{- end}}
{{- end}}
{{- if .DisallowedTools}}
tools:
{{- range .DisallowedTools}}
  {{. | lower}}: false
{{- end}}
{{- end}}
{{- if ne .Agent ""}}
agent: {{.Agent}}
{{- end}}
{{- if .Subtask}}
subtask: {{.Subtask}}
{{- end}}
{{- if ne .Model ""}}
model: {{.Model}}
{{- end}}
---
{{.Content}}
